.App {
  text-align: center;
}

.Action-Posters {
  display: flex;
  align-items: center;
  gap: 5px;
}

.Action-Title {
  display: flex;
  position: relative;
  left: 1%;
  top: 30%;
}

.Adventure-Title {
  display: flex
}

.Adventure-Posters {
  display: flex

}

.Fantasy-Posters {
  display: flex;
  gap: 5px
}

.Movie {
  position: relative;
  height: 300px;
  width: 200px;
}

.Movie-container {
  margin-top: 10%;
  height: 20%;
  width: 80%;
}