.App {
  text-align: center;
  background-color: rgb(12, 12, 12);
}

body {
  background-color: rgb(12, 12, 12);
}

p {
  color: white
}

.navBar {
  display: flex;
  justify-content: center;
  gap: 5%;
  text-decoration: none;
  outline: none;
  color: rgb(37, 121, 190);
}



#action-Title {
  display: flex;
  position: relative;
  left: 48%;
  color: white;
  top: 120px
}

.adventure-Title {
  display: flex;
  position: relative;
  left: 48%;
  color: white;
  top: 120px
}

.fantasy-Title {
  display: flex;
  position: relative;
  left: 48%;
  color: white;
  top: 120px
}

.action-Posters {
  display: flex;
  gap: 5px;
}

.adventure-Posters {
  display: flex;
  gap: 5px;

}

.fantasy-Posters {
  display: flex;
  gap: 5px
}

.searchPosterContainer {
  margin-top: 10%;
  height: 20%;
  width: 20%;
}

.searchPoster {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.movie {
  position: relative;
  width: 100%;
  display: flex;
  gap: 5px;

}

.movie-container {
  margin-top: 10%;
  height: 20%;
  width: 80%;
}

.poster {
  width: 500px;
}

.posterStuff {
  color: white
}




@media only screen and (max-width: 1000px) {
  #action-Title {
    display: flex;
    position: relative;
    left: 48%;
    color: white;
    top: 60px
  }
  
  .adventure-Title {
    display: flex;
    position: relative;
    left: 48%;
    color: white;
    top: 60px
  }
  
  .fantasy-Title {
    display: flex;
    position: relative;
    left: 48%;
    color: white;
    top: 60px
  }
}